<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427533736729-mokq6h638uoi9tiqar0f8vjvp7cuhp3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427533736729-mokq6h638uoi9tiqar0f8vjvp7cuhp3n</string>
	<key>API_KEY</key>
	<string>AIzaSyAPX_4_dIcu_2TVRlPxyTFFUAwI6WI1X8A</string>
	<key>GCM_SENDER_ID</key>
	<string>427533736729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talk</string>
	<key>PROJECT_ID</key>
	<string>talk-abb49</string>
	<key>STORAGE_BUCKET</key>
	<string>talk-abb49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427533736729:ios:9f1e17b5cebca803b48388</string>
</dict>
</plist>